{{#if resume.skills.length}}
  <div class="container summary-container">
  {{> title value="Skills"}}
        <p class="summary">
  {{#each resume.skills}}
    {{#if keywords.length}}
        {{#if name}}
          <b>{{name}}</b>:
        {{/if}}
        {{#each keywords}}
          {{.}}{{#unless @last}},{{/unless}}
        {{/each}}
        <br>
    {{/if}}
  {{/each}}
        </p>
  </div>
{{/if}}
