{{#if resume.work.length}}
<div class="container work-container">
  {{> title value="Experience"}}

  {{#each resume.work}}
  <section class="item">
    {{#if company}}
    {{> section-header name=this.company }}
    {{/if}}
    {{#if description}}
      <p class="summary">{{description}}</p>
    {{/if}}

<div class="sec section-header">
    {{#if position}}
      <h4 class="bold">{{position}}</h4>
    {{/if}}

    {{#if summary}}
      <p class="summary">{{summary}}</p>
    {{/if}}

    {{#if highlights.length}}
      <ul>
        {{#each highlights}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
    {{/if}}
</div>
  </section>
  {{/each}}
</div>
{{/if}}
